{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>World of Tanks battle list</title>
    <link rel="stylesheet" href="{% static 'wot_clan_battles/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'wot_clan_battles/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'wot_clan_battles/bootstrap-tagsinput.css' %}"/>
    <link rel="stylesheet" href="{% static 'wot_clan_battles/app.css' %}"/>
  </head>
  <body>
<nav class="navbar  navbar-defautl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Clan Battles</a>
      <form class="navbar-form navbar-left" role="search" action="/" method="get">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="ClanTag" name="tag" value="{{ request.GET.tag }}">
        </div>
        <button type="submit" class="btn btn-default">Show</button>
      </form>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}
    <script src="{% static "wot_clan_battles/js/jquery.min.js" %}"></script>
    <script src="{% static "wot_clan_battles/js/bootstrap.min.js" %}"></script>
    <script src="{% static "wot_clan_battles/js/bootstrap-tagsinput.js" %}"></script>
    <script src="{% static "wot_clan_battles/js/mustache.min.js" %}"></script>
    <script src="{% static "wot_clan_battles/js/app.js" %}"></script>
  </body>
</html>
