{% extends 'base.html' %}
{% load tz %}

{% block content %}
  <div class="timetable" data-clan-id="35039">
    <div class="timetable-provinces">
      <div class="timetable-province"><a href="#">RU2 Борисоглебск</a></div>
    </div>
    <div class="timetable-times">
      <table>
        <tr>
          <td class="timetable-row">
            <div class="timetable-cell">12:00</div>
          </td>
        </tr>
        <tr>
          <td class="timetable-row">
            <div class="timetable-cell">
              <div class="timetable-cell-header">
                <span>1/16</span><span>18:00:00</span>
              </div>
              <div class="timetable-cell-opponent">
                <span>SKIPPED</span>
              </div>
              <div class="timetable-cell-stats">
                <span>55</span><span>155</span><span>1455</span>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}
